/*Add category*/
 .cen
    {
      text-align: center;
    }
    .cen .input{
        width: 300px;
        height: 40px;
        border: none;
        border-bottom: 1px solid black;
        text-decoration:none;
        
    }
    .text input:focus{
        outline: none;
    }
    .cen .btn
    {
        width: 200px;
        height: 40px;
    }
    .cen .btn{
        border-radius: 20px;
        border: 1px solid blue;
        font-size: 18px;
    }
    .cen .btn:hover{
        background-color: blue;
        color: white;
    }
 /*Add category end*/
 /*View Category*/
   .tab
      {
        margin-left: 250px;
        width: 700px;
        margin-top: 120px;
        background-color: rgb(255, 255, 255);
      }
      table{
        border: 1px solid black;
      }
      table tr,th,td
      {
        width: 500px;
        color:white;
 	    font-size: 20px;
        font-family:'Times New Roman', Times, serif;
        background-color: rgb(231, 162, 72);
        border: 1px solid black;
        color: rgb(30, 4, 78);
      }
      table th
      {
        font-size: 18px;
        width: 200px;
        height: 40px;
        background-color: rgb(211, 255, 14);
      }
      table  th td a
      {
       text-decoration:none;
      }
      table {
        border-collapse: collapse;
        text-align: center;
      }
      /*End view Ctegory*/
    